body {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
}

header {
	border-bottom: 1px solid #ccc;
}

.top-panel {
	background-color: #d6f5ed;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
}

.site-branding {
	text-align: center;
	border-bottom: 1px solid #ccc;
	height: 80px;
	padding: 20px;
}

.site-menu {
	text-align: center;
}

.menu li {
	display: inline-block;
	font-size: 18px;
	padding: 20px 15px;
}

.menu li a {
	text-decoration: none;
	color: #616262;
}

.container {
	width: 960px;
	margin: 0 auto;
}

h3 {
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	color: #33cba5;
	padding: 20px;
	margin: 20px;
}

.servico-item {
	width: 380px;
}

.servico-item figure figcaption {
	text-align: center;
	color: #33cba5;
	font-size: 30px;
	margin: 10px 0;
}

.footer-wrap {
	background-color: #373838;
	text-align: center;
	padding-top: 100px;
}